{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "adguard-ingress-operator.rbacName" . }}
  labels:
    {{- include "adguard-ingress-operator.labels" . | nindent 4 }}
  {{- with .Values.rbac.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
rules:
- apiGroups:
  - "networking.k8s.io"
  resources:
  - "ingresses"
  verbs:
  - "get"
  - "list"
  - "watch"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "adguard-ingress-operator.rbacName" . }}
  labels:
    {{- include "adguard-ingress-operator.labels" . | nindent 4 }}
  {{- with .Values.rbac.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "adguard-ingress-operator.rbacName" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "adguard-ingress-operator.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}

{{- end }}
